<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>eCMS - Search Cars for Sale</title>
</head>
<body>

<!--Thymeleaf placeholder for the page Content-->
<th:block layout:fragment="content">
    <!--        <h3>Welcome to the eCMS - Car Management System</h3>-->
    <!--        <hr/>-->
    <div class="card mb-3">
        <h3 class="card-header">Used 2016 Ford Mustang Convertible</h3>
        <div class="card-body">
            <h5 class="card-title">Sale price: $16,999</h5>
            <h6 class="card-subtitle text-muted">Dealer: Toyota</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;"
             th:src="@{/ecarmanagement/public/images/car-toyota.jpg}"  alt="Car image">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Make: </li>
            <li class="list-group-item">Model: </li>
            <li class="list-group-item">Style: </li>
            <li class="list-group-item">Condition: </li>
            <li class="list-group-item">Year: </li>
            <li class="list-group-item">Mileage: </li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link"><span class="fa fa-heart" >Save car</span></a>
            <a href="#" class="card-link">View detail</a>
        </div>
        <div class="card-footer text-muted">
            Uploaded 2 days ago
        </div>
    </div>

</th:block>
<!--End placeholder-->

</body>
</html>
