<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>eCMS - Search Cars for Sale</title>
</head>
<body>

<!--Thymeleaf placeholder for the page Content-->
<th:block layout:fragment="content">
    <!--        <h3>Welcome to the eCMS - Car Management System</h3>-->
    <!--        <hr/>-->
    <div class="content-text">
        <div class="">
            <h3>Search Cars for Sale   </h3>
            <form class="ae-form">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="text-xlg text-light">Search Cars for Sale</h1>
                    </div>
                </div>
                <div class="row padding-vertical-lg">
                    <div class="col-xs-12" data-qaid="cntr-Location">
                        <div class="row">
                            <div class="col-xs-12 col-lg-5">
                                <h2 class="text-lg text-light" data-qaid="lbl-Location">Location</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-lg-2">
                                <div class="form-group margin-collapse-bottom">
                                    <label class="text-size-300 control-label margin-bottom-1 ae-label" for="searchRadius50">
                                        <span>Search within</span>
                                    </label>
                                    <select class="form-control" name="searchRadius" id="searchRadius50" >
                                        <option value="10">10 Miles</option>
                                        <option value="25">25 Miles</option>
                                        <option selected="" value="50">50 Miles</option>
                                        <option value="75">75 Miles</option>
                                        <option value="100">100 Miles</option>
                                        <option value="200">200 Miles</option>
                                        <option value="300">300 Miles</option>
                                        <option value="500">500 Miles</option>
                                        <option value="0">Any Distance</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group margin-collapse-bottom">
                                <div class="col-xs-6 col-lg-2">
                                    <div class="form-group margin-collapse-bottom">
                                        <label class="text-size-300 control-label margin-bottom-1 ae-label" for="zip52556">
                                            <span>of ZIP code</span>
                                        </label>
                                        <input type="tel" name="zip"  placeholder="ZIP Code" class="form-control" id="zip52556"
                                               value="52556" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-vertical-lg">
                    <div class="col-xs-12" >
                        <div class="row">
                            <div class="col-xs-12 col-lg-5">
                                <h2 class="text-lg text-light" >Condition</h2>
                            </div>
                        </div>
                        <div>
                            <div class="form-group margin-collapse-bottom">
                                <div class="checkbox-group">
                                    <div class="row">
                                        <div class="col col-xs-4 col-lg-2">
                                            <label class="checkbox ae-label">
                                                <input type="checkbox" value="NEW" />
                                                <div class="input-label">New</div>
                                                <div class="input-secondary-label"></div>
                                            </label>
                                        </div>
                                        <div class="col col-xs-4 col-lg-2">
                                            <label class="checkbox ae-label">
                                                <input type="checkbox" value="USED" >
                                                <div class="input-label">Used</div>
                                                <div class="input-secondary-label"></div>
                                            </label>
                                        </div>
                                        <div class="col col-xs-4 col-lg-2">
                                            <label class="checkbox ae-label">
                                                <input type="checkbox" value="CERTIFIED" >
                                                <div class="input-label">Certified</div>
                                                <div class="input-secondary-label"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a class="text-link" >Learn more about certified pre-owned cars</a>
                        </div>
                    </div>
                </div>
                <div class="row padding-vertical-lg">
                    <div class="col-xs-12" >
                        <div class="row">
                            <div class="col-xs-12 col-lg-5">
                                <h2 class="text-lg text-light" >Price</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-lg-2">
                                <div  class="form-group">
                                    <label for="3660614094" class="control-label ae-label">Minimum</label>
                                    <select id="3660614094" class="form-control" name="minPrice" >
                                        <option selected="" label="Any Price" value="">Any Price</option>
                                        <option label="$1,000" value="1000">$1,000</option>
                                        <option label="$2,000" value="2000">$2,000</option>
                                        <option label="$3,000" value="3000">$3,000</option>
                                        <option label="$4,000" value="4000">$4,000</option>
                                        <option label="$5,000" value="5000">$5,000</option>
                                        <option label="$6,000" value="6000">$6,000</option>
                                        <option label="$7,000" value="7000">$7,000</option>
                                        <option label="$8,000" value="8000">$8,000</option>
                                        <option label="$9,000" value="9000">$9,000</option>
                                        <option label="$10,000" value="10000">$10,000</option>
                                        <option label="$11,000" value="11000">$11,000</option>
                                        <option label="$12,000" value="12000">$12,000</option>
                                        <option label="$13,000" value="13000">$13,000</option>
                                        <option label="$14,000" value="14000">$14,000</option>
                                        <option label="$15,000" value="15000">$15,000</option>
                                        <option label="$16,000" value="16000">$16,000</option>
                                        <option label="$17,000" value="17000">$17,000</option>
                                        <option label="$18,000" value="18000">$18,000</option>
                                        <option label="$19,000" value="19000">$19,000</option>
                                        <option label="$20,000" value="20000">$20,000</option>
                                        <option label="$22,000" value="22000">$22,000</option>
                                        <option label="$24,000" value="24000">$24,000</option>
                                    </select>
                                    <div class="has-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-vertical-lg">
                    <div class="col-xs-12" >
                        <div class="row">
                            <div class="col-xs-12 col-lg-5">
                                <h2 class="text-lg text-light" data-qaid="lbl-Style">Style</h2>
                            </div>
                        </div>
                        <div class="form-group margin-collapse-bottom">
                            <div class="checkbox-group">
                                <div class="row">
                                    <div class="col col-xs-4 col-lg-3">
                                        <label class="checkbox ae-label">
                                            <input type="checkbox" value="CONVERT" >
                                            <div class="input-label">Convertible</div>
                                            <div class="input-secondary-label"></div>
                                        </label>
                                        <label class="checkbox ae-label">
                                            <input type="checkbox" value="COUPE" >
                                            <div class="input-label">Coupe</div>
                                            <div class="input-secondary-label"></div>
                                        </label>
                                        <label class="checkbox ae-label">
                                            <input type="checkbox" value="HATCH" >
                                            <div class="input-label">Hatchback</div>
                                            <div class="input-secondary-label"></div>
                                        </label>
                                        <label class="checkbox ae-label">
                                            <input type="checkbox" value="SEDAN" >
                                            <div class="input-label">Sedan</div>
                                            <div class="input-secondary-label"></div>
                                        </label>
                                        <label class="checkbox ae-label">
                                            <input type="checkbox" value="SUVCROSS" >
                                            <div class="input-label">SUV/Crossover</div>
                                            <div class="input-secondary-label"></div>
                                        </label>
                                        <label class="checkbox ae-label">
                                            <input type="checkbox" value="TRUCKS" >
                                            <div class="input-label">Truck</div>
                                            <div class="input-secondary-label"></div>
                                        </label>
                                        <label class="checkbox ae-label">
                                            <input type="checkbox" value="VANMV" >
                                            <div class="input-label">Van/Minivan</div>
                                            <div class="input-secondary-label"></div>
                                        </label>
                                        <label class="checkbox ae-label">
                                            <input type="checkbox" value="WAGON" >
                                            <div class="input-label">Wagon</div>
                                            <div class="input-secondary-label"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sponsoredStyleAdWrapper" class="row margin-collapse-left margin-collapse-right"></div>
                    </div>
                </div>
                <div class="row padding-vertical-lg">
                    <div class="col-xs-12" >
                        <div class="row">
                            <div class="col-xs-12 col-lg-5">
                                <h2 class="text-lg text-light" >Drive Type</h2>
                            </div>
                        </div>
                        <div>
                            <div class="form-group margin-collapse-bottom">
                                <div class="checkbox-group">
                                    <label class="checkbox ae-label">
                                        <input type="checkbox" value="AWD4WD" >
                                        <div class="input-label">AWD/4WD</div>
                                        <div class="input-secondary-label"></div>
                                    </label>
                                    <label class="checkbox ae-label">
                                        <input type="checkbox" value="FWD" >
                                        <div class="input-label">Front Wheel Drive</div>
                                        <div class="input-secondary-label"></div>
                                    </label>
                                    <label class="checkbox ae-label">
                                        <input type="checkbox" value="RWD" >
                                        <div class="input-label">Rear Wheel Drive</div>
                                        <div class="input-secondary-label"></div>
                                        </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-vertical-lg">
                    <div class="col-xs-12" >
                        <div class="row">
                            <div class="col-xs-12 col-lg-5">
                                <h2 class="text-lg text-light" >Year</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-lg-2">
                                <div class="form-group">
                                    <label for="4101482096" class="control-label ae-label">From</label>
                                    <select id="4101482096" class="form-control" name="startYear" >
                                        <option selected="" label="1981" value="1981">1981</option>
                                        <option label="1982" value="1982">1982</option>
                                        <option label="1983" value="1983">1983</option>
                                        <option label="1984" value="1984">1984</option>
                                        <option label="2020" value="2020">2020</option>
                                    </select>
                                    <div class="has-error"></div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-lg-2">
                                <div data-cmp="select" class="form-group">
                                    <label for="258002540" class="control-label ae-label">To</label>
                                    <select id="258002540" class="form-control" name="endYear" >
                                        <option label="1981" value="1981">1981</option>
                                        <option label="1982" value="1982">1982</option>
                                        <option label="1983" value="1983">1983</option>
                                        <option label="2014" value="2014">2014</option>
                                        <option label="2015" value="2015">2015</option>
                                        <option label="2016" value="2016">2016</option>
                                    </select>
                                    <div class="has-error"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-5">
                                <h2 class="text-lg text-light" >Make &amp; Model</h2>
                            </div>
                            <div id="findyourcar-make-logo" class="col-xs-2 text-right text-sm">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <div class="margin-collapse-bottom panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div data-cmp="select" class="form-group">
                                                    <select id="1970425032" class="form-control" name="makeFilter0" aria-label="makeFilter0" >
                                                        <option selected="" label="Any Make" value="">Any Make</option>
                                                        <option label="Acura" value="ACURA">Acura</option>
                                                        <option label="Alfa Romeo" value="ALFA">Alfa Romeo</option>
                                                        <option label="AMC" value="AMC">AMC</option>
                                                        <option label="Aston Martin" value="ASTON">Aston Martin</option>
                                                        <option label="Audi" value="AUDI">Audi</option>
                                                        <option label="Bentley" value="BENTL">Bentley</option>
                                                        <option label="BMW" value="BMW">BMW</option>
                                                        <option label="Bugatti" value="BUGATTI">Bugatti</option>
                                                        <option label="Buick" value="BUICK">Buick</option>
                                                        <option label="Cadillac" value="CAD">Cadillac</option>
                                                        <option label="Chevrolet" value="CHEV">Chevrolet</option>
                                                        <option label="Chrysler" value="CHRY">Chrysler</option>
                                                        <option label="Daewoo" value="DAEW">Daewoo</option>
                                                        <option label="Datsun" value="DATSUN">Datsun</option>
                                                        <option label="DeLorean" value="DELOREAN">DeLorean</option>
                                                        <option label="Dodge" value="DODGE">Dodge</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <select id="2375322919" class="form-control" name="modelFilter0" >
                                                        <option selected="" label="Any Model" value="">Any Model</option>
                                                    </select>
                                                    <div class="has-error"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <select id="1445141837" class="form-control" name="trimFilter0" >
                                                        <option selected="" label="Any Trim" value="">Any Trim</option>
                                                    </select>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-vertical-lg">
                    <div class="col-xs-12" >
                        <div class="row">
                            <div class="col-xs-12 col-lg-5">
                                <h2 class="text-lg text-light" >Mileage</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group margin-collapse-bottom">
                                    <select class="form-control" name="maxMileage" id="maxMileage0" >
                                        <option selected="" value="0">Any Mileage</option>
                                        <option value="15000">Under 15,000</option>
                                        <option value="30000">Under 30,000</option>
                                        <option value="45000">Under 45,000</option>
                                        <option value="60000">Under 60,000</option>
                                        <option value="75000">Under 75,000</option>
                                        <option value="100000">Under 100,000</option>
                                        <option value="150000">Under 150,000</option>
                                        <option value="200000">Under 200,000</option>
                                        <option value="200001">Over 200,000</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-6">
                        <div class="text-center justify-content-center justify-content-sm-start margin-horizontal-sm-0 margin-horizontal-5">
                            <button type="submit" class="btn btn-primary btn-block ae-button" >Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
<!--End placeholder-->

</body>
</html>
